{{ extend './layout.html' }}
{{block "style"}}
<style>
    .content {
        margin-top: 200px;
        height: 350px;
    }
</style>
{{/block}}

{{block "wrapper"}}
<div class="container">
    <div class="content">
        <h1>Welcome to crawl page</h1>
        <h2>Please wait while the data is loaded...</h2>
    </div>
</div>
{{/block}}

{{block "script"}}
<script>
    var url = 'https://68axsi5ieg.execute-api.eu-central-1.amazonaws.com/spotfire/wp/render/GqW9tzb7IKfvftfQ03/analysis?file=/Glasswall/glasswall_mockup&amp;waid=OYiYWzX6FkKCNyHTAl6tf-17230088deDTl_&amp;wavid=0';
    $.ajax({
        type: "GET",
        url: "/api/webplay",
        data: {
            url: url
        },
        dataType: "json",
        success: function (res) {
            var data = res.data;
            var reg = /<link.+?href=\"(.+?)\".*>/;
            document.write(data);
        }
    });
</script>
{{/block}}